@page "/monthlyreport/new/{year:int}/{month:int}"

@using BlazorProject.Client.HttpRepository
@using BlazorProject.Client.Models
@using BlazorProject.Client.Components
@inject HttpClient Http
@inject IMonthlyReportsHttpRepository MonthlyReportsHttRepo
@inject NavigationManager NavManager

@if (isWorking)
{
    <p>Loading</p>
}
else
{
    @if (alreadyExist)
    {
        <p>There is already existing report archived for this month</p>
        <button class="btn btn-primary" @onclick="(e => NavToArchive(year, month))">Take me there</button>
    }
    else
    {
        if (!containsContracts)
        {
            <p>There were no contracts for this month</p>
        }
        else
        {
            <h3> Monthly report for @month.ToString() / @year.ToString()</h3>

            <p>Generated total of £@report.PaymentsPerContracts.Sum(x => x.Value).ToString()</p>
            <p>Total hours for this period: @report.SumHoursByClient.Sum(x => x.Value).ToString()</p>

            <p>@report.FilteredContracts.Count().ToString() contracts were completed for this period:</p>
            <table>
                <thead>
                    <tr>
                        <th>Date Requested</th>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contract in report.FilteredContracts)
                    {
                        <tr>
                            <td>@contract.DateRequested.ToString("dd-MMMM")</td>
                            <td>@contract.Id</td>
                            <td>@contract.Description</td>
                            @foreach (KeyValuePair<Models.Contract, decimal> entry in report.PaymentsPerContracts)
                            {
                                if (entry.Key.Id == contract.Id)
                                {
                                    <td>£@entry.Value.ToString()</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <p>------------------------------------------------------</p>
            <p>Breakdown per client: </p>
            <table>
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Hours Contracted</th>
                        <th>Paid</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (KeyValuePair<Models.Client, int> entry in report.SumHoursByClient)
                    {
                        <tr>
                            <td>@entry.Key.Name</td>
                            <td>@entry.Value.ToString()</td>
                            @foreach (KeyValuePair<Models.Client, decimal> anEntry in report.PaymentsPerClients)
                            {
                                if (anEntry.Key.Id == entry.Key.Id)
                                {
                                    <td>£@anEntry.Value.ToString()p</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <p>----------------------------------------------------------</p>
            <p>Breakdown per employee:</p>
            <table>
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Total Hours</th>
                        <th>Total monies generated</th>
                    </tr>
                </thead>
            </table>
            <tbody>
                @foreach (KeyValuePair<Models.Employee, int> entry in report.SumHoursByEmployee)
                {
                    <tr>
                        <td>@entry.Key.FirstName @entry.Key.LastName</td>
                        <td>@entry.Value.ToString()</td>
                        @foreach (KeyValuePair<Models.Employee, decimal> anEntry in report.PaymentsPerEmployee)
                        {
                            if (anEntry.Key.Id == entry.Key.Id)
                            {
                                <td>£@anEntry.Value.ToString()p</td>
                            }
                        }
                    </tr>

                }
            </tbody>

            <button class="btn btn-primary" @onclick="Archive">Archive this Report</button>
        }
    }
}

@code {
    [Parameter]
    public int year { get; set; }
    [Parameter]
    public int month { get; set; }

    private bool isWorking { get; set; } = true;
    private bool alreadyExist { get; set; }
    private bool containsContracts { get; set; }

    private Models.MonthlyReport report { get; set; }
    private MonthlyReportsGenerator reportGenerator { get; set; }

    protected override async Task OnInitializedAsync()
    {
        alreadyExist = await CheckIfExists();

        if (containsContracts)
        {
            await reportGenerator.Generate();
            report = reportGenerator.Report;
        }

        isWorking = false;
    }

    private async Task Archive()
    {
        await MonthlyReportsHttRepo.PostOne(report);
        NavManager.NavigateTo("/reports/archive");
    }

    private void NavToArchive(int year, int month)
    {
        NavManager.NavigateTo("/monthlyreports/" + year + "/" + month);
    }

    private async Task<bool> CheckIfExists()
    {
        bool exists;
        try
        {
            report = await MonthlyReportsHttRepo.GetOne(year, month);
            exists = true;
        }
        catch
        {
            exists = false;
            reportGenerator = new MonthlyReportsGenerator(year, month);
            await reportGenerator.GetData();
            containsContracts = reportGenerator.Report.FilteredContracts != null ? true : false;
        }
        return exists;
    }
}
