@page "/reports/new"

@using System
@using System.Globalization

@inject NavigationManager NavManager

<h3>Create a new report</h3>

@if (isCreating)
{
    <button class="btn btn-primary" @onclick="() => isCreating = false">Cancel</button>

    @switch (selectedReportType)
    {
        case Models.ReportType.Weekly:
            <EditForm Model="@weeklyReportForm" OnValidSubmit="@GenerateWeeklyReport">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <dl>
                    <dt>Enter a year</dt>
                    <dd><InputNumber @bind-Value="weeklyReportForm.Year" /></dd>
                    <dt>Enter a week</dt>
                    <dd><InputNumber @bind-Value="weeklyReportForm.WeekNumber" /></dd>
                </dl>
                <button type="submit">Generate report</button>
            </EditForm>
            break;
        case Models.ReportType.Monthly:
            <EditForm Model="@monthlyReportForm" OnValidSubmit="@GenerateMonthlyReport">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <dl>
                    <dt>Enter a year</dt>
                    <dd><InputNumber @bind-Value="monthlyReportForm.Year" /></dd>
                    <dt>Enter a month</dt>
                    <dd><InputNumber @bind-Value="monthlyReportForm.Month" /></dd>
                </dl>
                <button type="submit">Generate report</button>
            </EditForm>
            break;
        case Models.ReportType.Quarterly:
            <EditForm Model="@quarterlyReportForm" OnValidSubmit="@GenerateQuarterlyReport">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <dl>
                    <dt>Enter a year</dt>
                    <dd><InputNumber @bind-Value="quarterlyReportForm.Year" /></dd>
                    <dt>Enter a quarter</dt>
                    <dd><InputNumber @bind-Value="quarterlyReportForm.Quarter" /></dd>
                </dl>
                <button type="submit">Generate report</button>
            </EditForm>
            break;
        case Models.ReportType.Yearly:
            <p>!!!</p>
            break;
    }
}
else
{
    <div>
        <select @bind="selectedReportType">
            @foreach (Models.ReportType reportType in reportTypes)
            {
                <option value="@reportType">@reportType</option>
            }
        </select>

        <button disabled="@(selectedReportType == 0 ? true : false)" class="btn btn-primary" @onclick="() => isCreating = true">Create a new report</button>
    </div>
}

@code {
    private bool isCreating = false;

    private Array reportTypes = Enum.GetValues(typeof(Models.ReportType));
    private Models.ReportType selectedReportType;

    private Models.WeeklyReport weeklyReportForm = new Models.WeeklyReport();
    private Models.MonthlyReport monthlyReportForm = new Models.MonthlyReport();
    private Models.QuarterlyReport quarterlyReportForm = new Models.QuarterlyReport();


    private void GenerateWeeklyReport()
    {
        NavManager.NavigateTo("/weeklyreport/new/" + weeklyReportForm.Year + "/" + weeklyReportForm.WeekNumber);
    }

    private void GenerateMonthlyReport()
    {
        NavManager.NavigateTo("/monthlyreport/new/" + monthlyReportForm.Year + "/" + monthlyReportForm.Month);
    }

    private void GenerateQuarterlyReport()
    {
        NavManager.NavigateTo("/quarterlyreport/new/" + quarterlyReportForm.Year + "/" + quarterlyReportForm.Quarter);
    }
}
